{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/react-in-jsc-scope": "off",
    "no-var": "error",
    "react/prop-types": "off",
    "no-multi-spaces": "error",
    "space-in-parens": "error",
    "no-multiple-empty-lines": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts", ""] }],
    "react/self-closing-comp": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": "off",
    "import/named": "off",
    "no-else-return": "off"
  }
}
